.aside {
	float: right;
	max-width: 254px;
}

article {
	h3 {
		color: #FFF;
		font-family: 'TTBold';
		font-size: 1.25em; /* 20 / 16 = 1.25 */
		text-transform: uppercase;
	}
}

.vacancy {
	background: #6BC097;
	margin-top: 2em;
	//padding-left: 2em;
	padding: 1em 0.5em;

	h3 {
		margin: 0 0 0.5em;
	}
}

.vacancy-text {
	color: #FFF;
	margin: 0.5em 0 0;
}

.stick-man {
	display: block;
	float: left;
	height: 39px;
	margin-right: 0.625em; /* 10px */
	padding-left: 0.5em;
	/*width: 39px;*/
}

.cta-info {
	overflow: hidden;
}

.services {
	background: #F5F5F5;
	margin-top: 1em;
	padding: 0.1em;

	p {
		padding-left: 1em;
	}

	h3 {
		background: url("../images/green-transparent-bg.png") 0 0 repeat;
		display: inline-block;
		line-height: normal;
		padding: 0.25em;
		vertical-align: middle;
	}

	h3 img {
		padding-left: 1em;
	}

	.service-img {
		background: url("../images/service-bg.jpg") 0 0 no-repeat;
		height: 122px;
		line-height: 122px;
		width: 255px;
	}

	a {
		color: #6BC097;
		text-decoration: none;
	}
}

.cv {
	background: #384A53;
	margin-top: 1em;
	//padding-left: 2em;
	padding: 1em 0.5em;

	h3 {
		margin: 0 0 0 0.2em;
	}
}

.cv p {
	color: #FFF;
	margin: 0.5em 0 0;
}

.cv-img {
	display: block;
	float: left;
	height: 39px;
	margin-right: 0.625em; /* 10px */
	padding-left: 0.5em;
	/*width: 39px;*/
}

.cv-info {
	overflow: hidden;
}

.recommend {
	text-align: center;

	img{
		padding: 1em 0 1em 0;
	}
}

.recommend-name {
	color: #6BC097;
}
/*.cv p {
	padding: 0em 2em 1em 4em;
}

.cv {
	background: #384A53;
	color: #FFF;
	margin-top: 1em;
	padding: 0.1em;

	img{
		padding-left: 0.5em;
	}
}

.find {
	color: #6BC097;
}*/
