.article{
	color: #333333;
	float: left;
	//overflow: hidden;
	//margin-left: 70px;
	max-width: 731px;
}

.article h2 {
	color: #2D3E50;
}
.services-article {
	float: left;
	max-width: 731px;
}

.services-article p {
	max-width: 731px;
} 

.services-article a {
	color:#FFF;
	text-decoration:none;
}

.emerg-supply {
	background: #384A53;
	max-width: 731px;
	padding: 0.75em;
	text-transform: none;
}

.lt-place {
	background: #384A53;
	max-width: 731px;
	padding: 0.75em;
	text-transform: none;
}

.per-place{
	background: #384A53;
	max-width: 731px;
	padding: 0.75em;
	text-transform: none;
}

.sch-sup-staff {
	background: #384A53;
	max-width: 731px;
	padding: 0.75em;
	text-transform: none;
}

.sch-maint {
	background: #384A53;
	max-width: 731px;
	padding: 0.75em;
	text-transform: none;
}


.services-sub-title {
	max-width: 731px;
	text-transform: uppercase;

}

.services-legal-text {
	max-width: 731px;
	color: #6BC097;
}