.social-tags {
	background: #384A53;
	//margin-top: 1em;
	margin-top: 229px;
	padding: 1em;
	text-align: center;
	width: 1244px;
}

.footer {
	max-width: 66.875em;
}


.footer li {
	display: inline-block;
	max-width: 66.875em;
	padding: 0.45em;
}


.footer-list-right {
	color: #333333;
	float: right;
	text-align: center;
}


.footer-list-left {
	color: #333333;
	float: left;
	text-align: center;
}

.footer-list-bottom {
	color: #333333;
	clear: both;
	text-align: center;
}
